@using Syncfusion.EJ2
@using Syncfusion.EJ2.Schedule

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@(Html.EJS().Schedule("schedule")
        .Width("100%")
        .Height("700px")
        .DateFormat("dd/MM/yyyy")
        .CurrentView(View.TimelineMonth).Views(view =>
        {
            view.Option(View.TimelineMonth).EventTemplate("#timeline-event-template").Add();
        })
        .Group(group => group.Resources(ViewBag.Resources))
        .EventSettings(new ScheduleEventSettings { DataSource = ViewBag.DataSource })
        .Resources(res =>
        {
            res.AllowMultiple(true)
            .DataSource(ViewBag.Cars)
            .Field("CarId")
            .Title("Car")
            .Name("Cars")
            .TextField("Name")
            .IdField("Id")
            .ColorField("Color")
            .Add();
        })
        .WorkDays(new int[] { 0, 1, 2, 3, 4 })
        .FirstDayOfWeek(0)
        .SelectedDate(ViewBag.StartDateTime)
        .MinDate(ViewBag.StartDateTime)
        .MaxDate(ViewBag.EndDateTime)
        .DateHeaderTemplate("#DateHeaderTemplate")
        .CssClass("schedule-cell-CostDimension")
        .Render()
)

<script id="DateHeaderTemplate" type="text/template">
    <div class="date-text">${getDateHeaderText(data.date)}</div>
</script>

<script>
    function getDateHeaderText(date) {
        return instance.formatDate(date, { skeleton: 'Ed' });
    }
</script>

<script type="text/javascript">
    var instance = new ej.base.Internationalization();
    function getCellHeaderContent(date) {
        //console.log(date);
        return instance.formatDate(date, { skeleton: "Ed" });
    }
</script>

<script id="timeline-event-template" type="text/x-template">
    ${getEventContent(data)}
</script>

<script>
    function getEventContent(data) {
        debugger
        var content = "";

        if (data.StartTime.getDay() == 5 || data.StartTime.getDay() == 6) content = content + "<div class='template-wrap' style='background-color: rgb(241, 156, 187);'>";
        else if (data.Id != 0) content = content + "<div class='template-wrap' style='background-color: rgb(113, 106, 202);'>";
        else if (data.Id == 0) content = content + "<div class='template-wrap' style='background-color: rgba(177, 173, 230,0.8);color: #111;'>";

        return content + "<div class='subject'>" + data.Subject + " / " + data.CostCenter + "</div></div>";
    }
    /*function getEventContent(data) {
        debugger
        return "<div class='subject' style='font-size: 16px;'>" + data.Subject + "</div>";
    }*/
</script>